.resume-list {
  margin-top: 30px;
  margin-bottom: 30px
}

.resume-list .resume-list_title {
  font-family: Roboto Mono,monospace;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-weight: 700;
  color: #999;
  margin-bottom: 40px
}

.resume-list .resume-list__block {
  border-left: 2px solid #E03A3E;
  padding-left: 25px;
  padding-bottom: 50px
}

.resume-list .resume-list__block p {
  margin: 0
}

.resume-list .resume-list__block:before {
  width: 12px;
  height: 12px;
  border: 2px solid #E03A3E;
  position: absolute;
  content: "";
  border-radius: 50%;
  background-color: #fff;
  left: 10px
}

.resume-list .resume-list__block:last-child {
  padding-bottom: 0
}

.resume-list .resume-list__block-title {
  text-transform: uppercase;
  color: #E03A3E;
  font-size: 14px;
  line-height: 20px;
  font-family: Roboto Mono,monospace;
  font-weight: 700;
  padding-bottom: 5px
}

.resume-list .resume-list__block-date {
  font-family: Inconsolata,monospace;
  font-size: 14px;
  line-height: 20px;
  color: #999;
  padding-bottom: 10px
}

.progress-list {
  margin-top: 30px
}

.progress-list .progress-list__title {
  font-family: Roboto Mono,monospace;
  letter-spacing: 5px;
  font-weight: 700;
  color: #999;
  margin-bottom: 40px
}

.progress-list .progress-list__title,.progress-list p {
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase
}

.progress-list p {
  width: 100%;
  font-family: Inconsolata,monospace;
  margin-bottom: 10px
}

.progress-list p .progress-list__skill-value {
  float: right
}

.progress-list .progress {
  height: 6px;
  margin-bottom: 30px
}

.progress-list .progress .progress-bar {
  background-color: #E03A3E
}